header {
    background-color: rgba(28, 28, 110, 0.425);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    height: 5rem;
}

.card {
    border:solid, rgba(28, 28, 110, 0.425);
    width: auto;
}
.dropdown-menu{
       height: 20rem;
       overflow-y: auto;
    }

.search {
    margin: 1rem;
    padding: .5rem;
}

.history {
    margin: 1rem;
    padding: .5rem;
}

.city {
    margin: 1rem;
    padding: .5rem;
}

.forecast {
    margin: 1rem;
    padding: .5rem;
}

.card {
    margin: 1rem;
}